<div>
    <h2 id="page-heading">
        <span jhiTranslate="blmApp.propertyPricing.home.title">Property Pricings</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-property-pricing" [routerLink]="['/property-pricing/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="blmApp.propertyPricing.home.createLabel">
            Create a new Property Pricing
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'blmApp.propertyPricing.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="propertyPricings?.length === 0">
        <span jhiTranslate="blmApp.propertyPricing.home.notFound">No propertyPricings found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="propertyPricings && propertyPricings.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="blmApp.propertyPricing.defaultPrice">Default Price</span></th>
                    <th scope="col" ><span jhiTranslate="blmApp.propertyPricing.currentPrice">Current Price</span></th>
                    <th scope="col" ><span jhiTranslate="blmApp.propertyPricing.description">Description</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let propertyPricing of propertyPricings ;trackBy: trackId">
                    <td><a [routerLink]="['/property-pricing', propertyPricing.id, 'view']">{{ propertyPricing.id }}</a></td>
                    <td>{{ propertyPricing.defaultPrice }}</td>
                    <td>{{ propertyPricing.currentPrice }}</td>
                    <td>{{ propertyPricing.description }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/property-pricing', propertyPricing.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/property-pricing', propertyPricing.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(propertyPricing)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
