<div>
    <h2 id="page-heading">
        <span jhiTranslate="blmApp.attributeValue.home.title">Attribute Values</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-attribute-value" [routerLink]="['/attribute-value/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="blmApp.attributeValue.home.createLabel">
            Create a new Attribute Value
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'blmApp.attributeValue.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="attributeValues?.length === 0">
        <span jhiTranslate="blmApp.attributeValue.home.notFound">No attributeValues found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="attributeValues && attributeValues.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="blmApp.attributeValue.value">Value</span></th>
                    <th scope="col" ><span jhiTranslate="blmApp.attributeValue.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="blmApp.attributeValue.attribute">Attribute</span></th>
                    <th scope="col" ><span jhiTranslate="blmApp.attributeValue.property">Property</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let attributeValue of attributeValues ;trackBy: trackId">
                    <td><a [routerLink]="['/attribute-value', attributeValue.id, 'view']">{{ attributeValue.id }}</a></td>
                    <td>{{ attributeValue.value }}</td>
                    <td>{{ attributeValue.description }}</td>
                    <td>
                        <div *ngIf="attributeValue.attribute">
                            <a [routerLink]="['/attribute', attributeValue.attribute?.id, 'view']" >{{ attributeValue.attribute?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="attributeValue.property">
                            <a [routerLink]="['/property', attributeValue.property?.id, 'view']" >{{ attributeValue.property?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/attribute-value', attributeValue.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/attribute-value', attributeValue.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(attributeValue)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
