<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="propertyGroup">
            <h2><span jhiTranslate="blmApp.propertyGroup.detail.title">Property Group</span> {{ propertyGroup.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="blmApp.propertyGroup.groupName">Group Name</span></dt>
                <dd>
                    <span>{{ propertyGroup.groupName }}</span>
                </dd>
                <dt><span jhiTranslate="blmApp.propertyGroup.description">Description</span></dt>
                <dd>
                    <span>{{ propertyGroup.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/property-group', propertyGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
